/*******************************
MAIN STYLE SHEET
MEDIUM: SCREEN

CLIENT: LSNA
DEVELOPER: NG DESIGN * www.nickgardner.me

INDEX:
1.RESETS
2.WIDE * 1382
3.TABLET * 992
4.MOBILE * 480
5.HELPER CLASSES

COLOR GUIDE:
grey bg: #e9eaec
blue bg: #587698
star-blue drk: #56c1bb
star-blue lght: #8dcec7

FONT GUIDE:





1. RESETS
   ========================================================================== */
body {
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,cite,code,del,dfn,em,img,q,s,samp,small,strike,strong,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,button,table,caption,tbody,tfoot,thead,tr,th,td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}
article, aside,details, figcaption,figure, footer,header, hgroup,nav,section {
  display: block;
}
audio[controls], canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
ul, li {
  list-style-type: none;
}

/* ============================================================================
2. WIDE * 1382
   ========================================================================== */
body {
	/**background: #e9eaec;**/
	background:#587698;

}

#stovepipe {
  width: 100%;
  background-repeat: repeat-x;
  background-image: url('images/horizontalnav-fill.jpg'); opacity 0.4;
  position: fixed;
  top:0;
  left:0;
  z-index:5000000; /* -poof- */
  height:auto;
}

#wrapper {
  width: auto;
  margin: 0 8% 0 0%;
  max-width: 1200px;
}
#side-nav {
width: 310px;
background: #587698;
height:100%;
}

#side-nav a{
margin: 0;
padding:0;
height:0;
line-height:.5;
}

#side-nav ul{
}


#side-nav ul li{
margin: 0;
padding:0;
width: 310px;
line-height:.5;

}

.nav-btn:hover{
opacity: .8;
}


/* ============================================================================
3. TABLET * 992px
   ========================================================================== */
@media screen and (max-width:992px) {


#wrapper {
  width: 980px;
  margin: 0 auto;
}









/* ============================================================================
4. MOBILE * 480px
   ========================================================================== */
@media screen and (max-width:480px) {
body {
	background:#587698;
	margin-top: -10px;
}

#wrapper {
  width: 320px;
  padding-bottom: 100px;
  margin: 0 auto;
}







/* ============================================================================
5. HELPER CLASSES
   ========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
