<!DOCTYPE html>
<html>
<head>
<script src="{{ STATIC_URL }}jquery.js">
</script>
</head>
<body>
<script>
  $('document').ready(function() {
    $('#button').click(function() {
      $("#data_box").empty();
      var menuID = document.getElementById("street").value;
      $.ajax({
        dataType: "json",
        url: "{{ url }}&{{ qstring }}",
        data: { street: menuID },
        crossDomain: true,
        success: function(response) {
          $('#data_box').append('<h3>Pick a matching street</h3>');

            $.each(response, function (key, value) {

                var string = String(value);                 
                $('#data_box').append("<a href='" + value[':id'] + "'>" + value.full_street_name + "</a>    Address Range: " + value.min_address + "-" + value.max_address + "</br>");

          });
        }
     });
   });
});

</script>
<p>Enter just the street name (leave out prefix and suffix)</p>
<p>example: For "N. Kedzie Ave.", just type Kedzie</p>
<form id='address_query'>
<label for='street'>Street: </label>
<input id='street' type='text' name='street'></br>
<div id="stuff"><input type="button" value='search' id="button"></div>
</form>

</br>
  <div id='data_box'>
  </div>
</br>
</br>
</body>
</html>
