<!DOCTYPE html>
<html>
<head>
<script src="{{ STATIC_URL }}jquery.js">
</script>
</head>
<body>
<script>

  $('document').ready(function() {
    $('#button').click(function() {
      $.ajax({
        dataType: "json",
        url: "{{ url }}&{{ qstring }}",
        crossDomain: true,
        success: function(response) {
          $('#data_box').append('<h3>Pick a matching street</h3>');

            $.each(response, function (index, value) {
     
                $('#data_box').append(response[0].full_street_name);

          });
        }
     });
   });
});

</script>
<p>Enter just the street name (leave out prefix and suffix)</p>
<p>example: For "N. Kedzie Ave.", just type Kedzie</p>
<form id='address_query'>
<label for='street'>Street: </label>
<input id='street' type='text' name='street'></br>
<div id="stuff"><input type="button" value='search' id="button"></div>
</form>

</br>
  <div id='data_box'>
  </div>
</br>
</br>
</body>
</html>
