<html>
    <p>Hello, {{ user }} <a href="logout">logout</a></p>
<ul>
  <li><a href="users/{{ user.id }}">your profile</a></li>
  <li><a href="users/{{ user.id }}/queue">your queue</a></li>
  <li><a href="properties/new">add new property</a></li>
  <li><a href='/properties'>property list</a></li>
</ul>



    <h3>All properties in the system:</h3>

<ul>
{% for p in properties %}
    <li><a href="#">{{ p }}</a>&nbsp; completed passes: {{ p.pass_set.count }} &nbsp; queues: {{ p.queue_set.count }}</li>
{% endfor %}
</ul>

</html>
