<html>
<h1>Welcome to the LSNA inventory App.</h1>
<p>The time is: {{ time }} </p>
<p>Total number of users in the system: {{ users.count }} </p>

<form id='login-form' action='home' method='post'> {% csrf_token %}
<div class='login-field'><input type='text' name='username' placeholder=' Username'></div>
<div class='password-field'><input type='password' name='password' placeholder=' Password'spellcheck='false'></div> <br />
<input type='submit' value='SUBMIT' spellcheck='false'>
</form>

</html>
