<a href='/home'>home</a>&nbsp;&nbsp;<a href='/users/{{ user.id }}/queue'>back</a>
<p>Unanswered Questions:</a>
<ul>{% for q in uaq %}
       <li><a href='/users/{{ user.id }}/queue/{{ queue.id }}/survey/{{ q.id }}'>{{ q.question }}</a></li>
    {% endfor %}
</ul>
</br>
<p>Answered Questions:</p>
<ul>{% for q in aq %}
       <li><a href='/users/{{ user.id }}/queue/{{ queue.id }}/survey/{{ q.question_id }}/modify'>{{ q.question }}</a></li><p>Answer: {{ q.answer }} </p>
    {% endfor %}
</ul>
{% if uaq.exists %}
{% else %}
    <form name="submit_property_survey" action="/users/{{ user.id }}/queue/{{ queue.id }}/submit" method="post">{% csrf_token %}
    <input type=submit value=submit>
    </form>
{% endif %}
