<a href='/home'>home</a>&nbsp;&nbsp;<a href='/users/{{ user.id }}/queue'>back</a>
<p>Unanswered Questions:</a>
<ol>{% for q in uaq %}
       <li><a href='/users/{{ user.id }}/queue/{{ queue.id }}/survey/{{ q.id }}'>{{ q.question }}</a></li>
    {% endfor %}
</ol>
</br>
<p>Answered Questions:</p>
<ol>{% for q in aq %}
       <li><a href='/users/{{ user.id }}/queue/{{ queue.id }}/survey/{{ q.question_id }}/modify'>{{ q.question }}</a>&nbsp;Answer: {{ q.answer }}</li>
    {% endfor %}
</ol>
{% if uaq.exists %}
{% else %}
    <form name="submit_property_survey" action="/users/{{ user.id }}/queue/{{ queue.id }}/submit" enctype="multipart/form-data" method="post">{% csrf_token %}
    <input type=hidden value={{ prop_id }}>
    <input type="file" name="file" />
    <input type=submit value=submit>
    </form>
{% endif %}
